In [3]:
import requests as rp
from bs4 import BeautifulSoup
import pandas as pd

In [4]:
url="https://www.iplt20.com/auction"

scrap=rp.get(url)

In [5]:
html=BeautifulSoup(scrap.text,"lxml")

In [6]:
#print(html)

In [7]:
team=html.find_all("div",class_="agv-team-name")

In [8]:
Team=[]
for x in team:
    Team.append(x.text)

In [9]:
print(Team)

['Chennai Super Kings', 'Delhi Capitals', 'Gujarat Titans', 'Kolkata Knight Riders', 'Lucknow Super Giants', 'Mumbai Indians', 'Punjab Kings', 'Rajasthan Royals', 'Royal Challengers Bangalore', 'Sunrisers Hyderabad']

In [10]:
Funds_rem=html.select('div.avg-fund-remaining>span.fr-fund')

In [11]:
Funds=[]           
for x in Funds_rem:
    Funds.append(x.text)
#rint(Funds)

In [12]:
Over_seas = html.select('ul.mb-0.px-1 > li.m-0 >span.fr-fund')

In [13]:
print(Over_seas)

[<span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">22</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">24</span>, <span class="fr-fund">7</span>, <span class="fr-fund">22</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>]

In [14]:
over=[]
player=[]

for x in range(0,len(Over_seas)-1,2):
    over.append(Over_seas[x].text)
    player.append(Over_seas[x+1].text)

In [15]:
print(over)
print(player)

['8', '8', '8', '8', '8', '8', '7', '8', '8', '8']
['25', '25', '25', '22', '25', '24', '22', '25', '25', '25']

In [16]:
df=pd.DataFrame({'TEAMS':Team,'Funds_Remaining':Funds,'Overseas-Players':over,'Total_Players':player})

[<span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">22</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">24</span>, <span class="fr-fund">7</span>, <span class="fr-fund">22</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>, <span class="fr-fund">8</span>, <span class="fr-fund">25</span>]

In [17]:
print(df)

                         TEAMS Funds_Remaining Overseas-Players Total_Players
0          Chennai Super Kings    ₹1,50,00,000                8            25
1               Delhi Capitals    ₹4,45,00,000                8            25
2               Gujarat Titans    ₹4,45,00,000                8            25
3        Kolkata Knight Riders    ₹1,65,00,000                8            22
4         Lucknow Super Giants    ₹3,55,00,000                8            25
5               Mumbai Indians       ₹5,00,000                8            24
6                 Punjab Kings   ₹12,20,00,000                7            22
7             Rajasthan Royals    ₹3,35,00,000                8            25
8  Royal Challengers Bangalore    ₹1,75,00,000                8            25
9          Sunrisers Hyderabad    ₹6,55,00,000                8            25

In [20]:
df.to_csv("Final_output.csv", encoding="utf-8", index=True)