In [19]:
import requests as rp
from bs4 import BeautifulSoup
import pandas as pd

In [20]:
url="https://ticker.finology.in/"
scrap=rp.get(url)

In [21]:
html=BeautifulSoup(scrap.text,"lxml")

In [25]:
t0=html.find_all("table",class_="table table-sm table-hover screenertable")
head=t0[0]
header=head.find_all("th")
#print(header)

In [26]:
title=[]
for x in header:
    title.append(x.text)

In [27]:
print(title)

['Company', 'PriceRs.', 'Day HighRs.']

In [28]:
df1=pd.DataFrame(columns=title)
rows=head.find_all("tr")
#print(rows)

In [29]:
for x in rows[1:]:
    data=x.find_all("td")
    row=[tr.text for tr in data]
    df1.loc[len(df1)]=row
df1['Company']=df1['Company'].str.strip()

 df1['Company']=df1['Company'].str.strip()

In [30]:
print(df1)

                 Company PriceRs. Day HighRs.
0   Central Dep. Service  1748.00     1762.30
1        Hindustan Aeron  2053.45     2110.95
2     Power Finance Corp   285.50      286.55
3       Aurobindo Pharma   976.65      984.00
4            Swan Energy   412.85      446.80
5                   NMDC   169.25      169.60
6          CarTrade Tech   834.70      860.00
7          Vodafone Idea    13.90       14.45
8      JP Power Ventures    14.35       15.15
9                    REC   321.85      322.90
10            Coal India   324.05      326.15
11     Godrej Properties  1807.70     1861.10
12     Vijaya Diagnostic   633.55      653.90
13       Power Grid Corp   211.30      213.00
14       Marksans Pharma   129.75      132.20

In [34]:
df1.to_csv("WeeklyHighstock.csv",index=False)

In [13]:
head2=t0[1]
h=head2.find_all("th")
title2=[]
for x in h:
    title2.append(x.text)

In [14]:
print(title2)

['Company', 'PriceRs.', 'Day LowRs.']

In [35]:
df2=pd.DataFrame(columns=title2)
rows1=head2.find_all("tr")

In [36]:
for x in rows1[1:]:
    data=x.find_all("td")
    row=[tr.text for tr in data]
    df2.loc[len(df2)]=row

In [37]:
print(df2)

                 Company PriceRs. Day LowRs.
0        Honasa Consumer   299.35     256.30
1           Petronet LNG   195.10     191.70
2      Campus Activewear   255.30     237.80
3           Adani Wilmar   294.20     293.05
4        Rain Industries   144.20     140.25
5   Spectrm Talent Mngmt   103.35     103.35
6   Chemcrux Enterprises   286.80     246.10
7      Add-Shop E-Retail    30.13      29.01
8              Womancart   110.00     110.00
9   Arvind Ship Agencies    60.95      59.20
10              AKG Exim    22.60      22.40
11     KK Shah Hospitals    53.60      52.50
12    Oneclick Logistics    66.00      65.00
13      Compuage Infocom     9.40       9.40
14           Orient Bell   409.50     405.05

In [48]:
df2.to_csv("WeeklyLowstock.csv")

In [38]:
head3=t0[2]
h1=head3.find_all("th")
title3=[]
for x in h1:
    title3.append(x.text)

In [57]:
print(title3)

['Company', 'priceRs.', 'Change%']

In [41]:
df3=pd.DataFrame(columns=title3)

In [42]:
rows2=head3.find_all("tr")

In [43]:
#print(rows2)

In [44]:
for x in rows2[1:]:
    data=x.find_all("td")
    row=[tr.text for tr in data]
    df3.loc[len(df3)]=row

In [45]:
df3['Company']=df3['Company'].str.strip()

In [62]:
#print(df3)

                 Company priceRs.  Change%
0     Coral Laboratories   366.00     +20%
1       Vanta Bioscience    50.40     +20%
2         Sky Industries    80.14  +19.99%
3          Majestic Auto   259.10  +19.93%
4    Hariyana Ship Break   110.50  +18.77%
5     ESAF Small Finance    70.50   +17.5%
6    Eastern Logica Info   705.00  +16.92%
7         BMW Industries    49.02  +16.19%
8          CarTrade Tech   843.15  +15.73%
9           Smart Finsec     9.80  +15.43%
10        DK Enterprises    98.00  +15.29%
11       Centrum Capital    30.45  +14.69%
12  Shri Venkatesh Refin    96.90  +14.47%
13     Antony Waste Hand   460.30  +14.37%
14           Gautam Gems    12.90  +13.26%

In [46]:
df3.to_csv("Weeklygainer.csv")

In [47]:
head4=t0[3]
h2=head4.find_all("th")
title4=[]
for x in h2:
    title4.append(x.text)

In [65]:
print(title4)

['Company', 'priceRs.', 'Change%']

In [66]:
df4=pd.DataFrame(columns=title4)

In [67]:
rows3=head4.find_all("tr")

In [68]:
for x in rows3[1:]:
    data=x.find_all("td")
    row=[tr.text for tr in data]
    df4.loc[len(df4)]=row
df4['Company']=df4['Company'].str.strip()

                 Company priceRs.  Change%
0    Shreeshay Engineers    24.10  -19.67%
1   Spectrm Talent Mngmt   104.25  -19.28%
2   North Eastern Carry.    24.20  -12.48%
3      Add-Shop E-Retail    30.07  -11.58%
4   Zeal Global Services   151.00  -11.36%
5   Kesar Terminal&Infra    35.45   -9.91%
6       Felix Industries   108.20   -9.83%
7     Renaissance Global   101.95   -9.14%
8       KHFM Hospitality    44.55   -8.33%
9             Perfectpac    86.24   -8.26%
10    Patels Airtemp (I)   421.00   -8.21%
11        Jayshree Chem.    11.30   -7.76%
12       Shree Ajit Pulp   273.25   -7.28%
13       Arrow Greentech   406.15   -7.12%
14         Quality Foils    93.00      -7%
15   Shreeshay Engineers    24.10  -19.67%
16  Spectrm Talent Mngmt   104.25  -19.28%
17  North Eastern Carry.    24.20  -12.48%
18     Add-Shop E-Retail    30.07  -11.58%
19  Zeal Global Services   151.00  -11.36%
20  Kesar Terminal&Infra    35.45   -9.91%
21      Felix Industries   108.20   -9.83%
22    Renaissance Global   101.95   -9.14%
23      KHFM Hospitality    44.55   -8.33%
24            Perfectpac    86.24   -8.26%
25    Patels Airtemp (I)   421.00   -8.21%
26        Jayshree Chem.    11.30   -7.76%
27       Shree Ajit Pulp   273.25   -7.28%
28       Arrow Greentech   406.15   -7.12%
29         Quality Foils    93.00      -7%

In [39]:
df4.to_csv("WeeklyLoser.csv")

In [40]:
print(df4)

                 Company priceRs.  Change%
0    Shreeshay Engineers    24.10  -19.67%
1   Spectrm Talent Mngmt   104.25  -19.28%
2   North Eastern Carry.    24.20  -12.48%
3      Add-Shop E-Retail    30.07  -11.58%
4   Zeal Global Services   151.00  -11.36%
5   Kesar Terminal&Infra    35.45   -9.91%
6       Felix Industries   108.20   -9.83%
7     Renaissance Global   101.95   -9.14%
8       KHFM Hospitality    44.55   -8.33%
9             Perfectpac    86.24   -8.26%
10    Patels Airtemp (I)   421.00   -8.21%
11        Jayshree Chem.    11.30   -7.76%
12       Shree Ajit Pulp   273.25   -7.28%
13       Arrow Greentech   406.15   -7.12%
14         Quality Foils    93.00      -7%
15   Shreeshay Engineers    24.10  -19.67%
16  Spectrm Talent Mngmt   104.25  -19.28%
17  North Eastern Carry.    24.20  -12.48%
18     Add-Shop E-Retail    30.07  -11.58%
19  Zeal Global Services   151.00  -11.36%
20  Kesar Terminal&Infra    35.45   -9.91%
21      Felix Industries   108.20   -9.83%
22    Renaissance Global   101.95   -9.14%
23      KHFM Hospitality    44.55   -8.33%
24            Perfectpac    86.24   -8.26%
25    Patels Airtemp (I)   421.00   -8.21%
26        Jayshree Chem.    11.30   -7.76%
27       Shree Ajit Pulp   273.25   -7.28%
28       Arrow Greentech   406.15   -7.12%
29         Quality Foils    93.00      -7%